<html>
    <head>
        <title>Django Ritomar blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django RITOSEA Blog</a></h1>
        </div>

        <div>
            <p>publicado: 01.01.4,54 x 10^9 anos atrás, 00:00</p>
            <h2><a href="">O dia que eu virei um planeta.</a></h2>
            <p>No início Deus criou o céu e o ritomar...</p>
        </div>

        <div>
            <p>publicado: 02.01.4,54 x 10^9 anos atrás, 00:01</p>
            <h2><a href="">Minha primeira companhia.</a></h2>
            <p>Depois Deus falou:Que haja luz,assim eu não estava mas só e podia enxergar meu corpo esbelto e proporcional..</p>
        </div>
    </body>
</html>